@model Person

<h1>The Detail of Employee</h1>

@if (Model != null)
{
    <ul>
        <li class="list-group-item"><strong>First Name:</strong> @Model.FirstName</li>
        <li class="list-group-item"><strong>Last Name:</strong> @Model.Surname</li>
        <li class="list-group-item"><strong>Address:</strong> @Model.Address</li>
        <li class="list-group-item"><strong>Salary:</strong> @Model.Salary</li>
        <li class="list-group-item"><strong>Gender:</strong> @Model.Gender</li>
    </ul>
}
else
{
    <ul class="list-group">
        <li class="list-group-item">No data available</li>
    </ul>
}
