@{ 
    ViewData["Title"]="List Employee";
}

<h1>All Employees...</h1>
@model List<Person>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
   @for(int i=0;i<Model.Count;i++)
   {
    <tr scope="row">
      <td>@Model[i].Id</td>
      <td><a href="/employee/detail?Id=@Model[i].Id"> @Model[i].FirstName</a></td>
        <td>@Model[i].Surname</td>
        <td>@Model[i].Address</td>
        <td>@Model[i].Gender</td>
        <td>@Model[i].Salary</td>
    </tr>

   }
   
  </tbody>
</table>